html, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

.encaser {
    align-items: center;
    /* border: .25em dashed salmon; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    padding: 1em;
}

.box {
    align-items: center;
    border: .15em solid #73befc;
    border-radius: .25em;
    display: flex;
    justify-content: center;
}

.block {
    /* border: .45em dotted rgba(255, 255, 119, 0.911); */
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 100%;
}

.box-a {
    margin-bottom: 1em;
    height: 25vh;
    width: 100%;
}

.box-b {
    margin-bottom: 1em;
    width: 100%;
}

.box-c {
    margin-right: 2.5%;
    order: 1;
    width: 48.75%;
}

.box-d {
    order: 1;
    width: 48.75%;
}

.box-e {
    margin-bottom: 1em;
    width: 100%;
}

@media only screen and (min-width: 26.8125em) { /* 429px */
    .encaser {
        max-width: 64.1em;
        padding: 3em;
    }

    .block {
        /* border: .45em dotted rgba(255, 255, 119, 0.911); */
        width: 100%;
    }

    .box-a {
        margin-bottom: 1em;
        width: 100%;
    }
    
    .box-b {
        margin-right: 2.5%;
        width: 70.5%;
    }
    
    .box-c {
        width: 25%;
    }
    
    .box-d {
        width: 72.5%;
    }
    
    .box-e {
        width: 27%;
    }
}
