html, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

.vessel {
    align-items: center;
    border: .45rem double salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2em;
}

.box {
    align-items: center;
    border: .15em solid #73befc;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    width: 100%;
}

.block {
    border: 2px ridge goldenrod;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-bottom: 1em;
    width: 100%;
}

.box-a {
    height: 25vh;
    margin-bottom: 1em;
    order: -1;
}

.box-b {
    display: none;
}

.box-c {
    flex-grow: 1;
    margin-bottom: 4.5%;
}

.box-e {
    height: 25vh;
}

@media only screen and (min-width: 26.8125em) { /* 429px */
    .vessel {
        margin-bottom: 3em;
        max-width: 64.1em;
        min-height: 100vh;
        padding: 0;
    }

    .block {
        /* border: 2px ridge goldenrod; */
        flex-direction: row;
        flex-wrap: wrap;
        height: 33.33vh;
        width: 100%;
    }
    
    .box {
        padding: 2.5% 0;
        width: 100%;
    }

    .box-a {
        height: 33.33vh;
        order: 0;
    }
    
    .box-b {
        display: flex;
        margin-bottom: 0;
        width: 13.5%;
    }

    .box-c {
        flex-basis: 2em;
        margin: 0 1em;
        order: 0;
        width: 73%;
    }

    .box-d {
        margin-bottom: 0;
        width: 13.5%;
    }

    .box-e {
        height: 33.33vh;
    }
}