@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

.wrapper {
    align-items: center;
    border: .25em solid hsl(207, 96%, 72%);
    border-radius: .45em;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem auto 0;
    /* max-width: 12.5rem; */
    width: 60%;
}

.btn {
    /* border: 2px dashed red; */
    padding: 1em;
}

a {
    color: rgb(23, 21, 34);
    text-decoration: none;
}

@media screen and (min-width: 26.8125em) { /* 429px */
    .wrapper {
        flex-direction: row;
        max-width: 37.5rem;
        width: 100%;
    }
}