html, *, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

.parent {
    align-items: center;
    /* border: 4px dashed salmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.box {
    align-items: center;
    border: .25em solid #73befc;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 2.5em 0;
    text-align: center;
    width: 80%;
}

.left {
    border-radius: .45em .45em 0 0;
    height: 50vh;
    margin-bottom: .5em;
}

.right {
    border-radius: 0 0 .45em .45em;
    height: 50vh;
}

@media screen and (min-width: 26.8125em) { /* 429px */
    .parent {
        flex-direction: row;
        padding: 5%;
    }
    
    .box {
        padding: 5rem 0;
    }
    
    .left {
        border-radius: .45em 0 0 .45em;
        flex-basis: 20%;
        flex-grow: 0;  /* undo from mobile layout */
        margin-bottom: 0; /* undo the bottom margin for mobile layout */
        margin-right: .5em;
    }

    .right {
        flex-basis: 60%;
        border-radius: 0 .45em .45em 0;
    }
}