html, *, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(260deg, #f55a9b, #68e3f9);
  background-repeat: no-repeat;
  color: hsl(0, 0%, 96%);
  font-size: 1rem;
  margin: 0;
}

header {
  background-color: transparent;
  font-size: .85rem;
  padding: 1em 0;
  text-align: center;
}

main {
  margin: 0 auto 5%;
}

a {
  color: hsl(0, 50%, 93%);
  /* color: hsl(11, 46%, 85%); */
  /* background: blanchedalmond; */
  text-decoration-style: dotted;
  text-align: center;
  /* text-decoration: none; */
}

a:hover {
  text-decoration: underline wavy;
}

a:visited {
  color: #ede9ff;
  text-decoration: none;
}

img {
  width: 250px;
}

.wrapper {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%; 
}

.block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  margin: 0 auto 3%;
  text-align: center;
  width: 75%;
}

/* Tablet Styles */

@media only screen and (min-width: 23.4375em) and (max-width: 56.25em) { /* 375px and 900px respectively, assuming the browser's font size is 16*/
  img {
    width: 300px;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 56.3125em) { /* 901px assuming the browser's font size is 16*/
  img {
    width: 400px;
  }
}